<h1>Categories#new</h1>

<%= form_with(model: @category) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <h2>Category Info</h2>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: true %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description, autofocus: true, autocomplete: true %>
  </div>

  <hr>
  <h2>Todo</h2>
  <%= f.fields_for :todos do |todo| %>
    <h3><%= field_index_number(todo.index) %></h3>
    <div>
      <%= todo.label :name %>
      <%= todo.text_field :name, autofocus: true, autocomplete: true %>
    </div>
    <div>
      <%= todo.label :description %>
      <%= todo.text_field :description, autofocus: true, autocomplete: true %>
    </div>
  <% end%>
  <%= f.submit %>
<% end %>

<%= link_to "back", categories_path %>